
plugins/*
!plugins/.gitkeep

upgrade/
cache/
wflogs/
debug.log

litespeed/
updraft/
backups-dup-lite/

*.sql
*.sql.gz

.local/
.localwp/
local.json

*.log
*.tmp
*.temp

.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo

node_modules/
dist/
build/


!exports/.gitkeep
!zipsbackups/.gitkeep