
plugins/


!plugins/meu-plugin-customizado/

upgrade/
cache/
wflogs/
debug.log

litespeed/
updraft/
zipbackups/
backups-dup-lite/

*.sql
*.sql.gz

.local/
.localwp/
local.json

*.log
*.tmp
*.temp

.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo